* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: rgb(139, 0, 0, 0.8);
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-block: 10px;
  position: fixed;
  left: 0;
  right: 0;
}

.link {
  color: white;
  font-family: 'Spirax', sans-serif;
  font-size: 25px;
  text-decoration: none;
}

section {
  align-items: center;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
}

article h1 {
  color: darkred;
  font-family: 'Spirax', sans-serif;
  font-size: 50px;
  text-align: center;
}

article p {
  background-color: rgb(139, 0, 0, 0.7);
  margin-block: 20px;
  padding: 10px 20px;
  position: relative;
  text-align: center;
}

article {
  color: white;
  font-family: 'Poiret One', sans-serif;
}

#hot {
  background-image: url(hot.jpg);
}

#juicy {
  background-image: url(juicy.jpg);
}

#cosy {
  background-image: url(cosy.jpg);
}

.row {
  display: flex;
  justify-content: space-between;
}

.box {
  background-color: rgb(0, 0, 0, 0.7);
  padding: 10px 40px;
}

.p1 {
  right: 100px;
}

.p2 {
  left: 100px;
}

#hot,
#juicy {
  border-bottom:  solid rgb(139, 0, 0, 0.7);
}
